@import 'resetf.css';
.alert {
    position: fixed;
    padding: 1rem;
    top: 15%;
    max-width: 500px;
    left: 50%;
    transform: translateX(-50%);
    background-color: tomato;
    border-radius: 10px;
}

.container {
    border: 1px solid #888;
    border-radius: 15px;
    margin: 0 auto;
    width: 50%;
    padding: 20px;
    /* margin: 20px; */
    margin-top: 20px;
}

.container2 {
    padding-left: 40px;
}

.container3 {
    padding-left: 60px;
}

.title {
    color: tomato;
}

.date {
    color: #333;
    font-size: 12px;
}

.text {
    text-align: center;
}


/* ------------------------------- */


/* Common  ============== */

.section {
    padding-top: 50px;
    padding-bottom: 50px;
}

p {
    line-height: 1.2;
    color: #777;
}


/* Header ============== */

.header {
    background-color: #fff;
    position: sticky;
    top: 0;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: inline-block;
    padding: 1rem 0;
}

.main-nav__item {
    display: none;
}


/* Phill section  ================ */

.phill__subtitle {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
}

.phill__title {
    font-size: 1.3rem;
    text-transform: uppercase;
}


/* services section  ================ */

.services {
    background-color: #fafafa;
    text-align: center;
}

.services__title {
    font-size: 2rem;
    font-weight: bolder;
}

.s-card__icon {
    font-size: 1.7rem;
    margin-bottom: 0.8em;
    margin-top: 0.8em;
}

.s-card__title {
    font-weight: normal;
}


/* Responsive  */

@media screen and (min-width: 600px) {
    .main-nav__item {
        display: inline-block;
        padding: 0.5em 1em;
        /* background-color: #f4f4f4; */
    }
    .main-nav__burger {
        display: none;
    }
    .phill .container {
        overflow: hidden;
    }
    .services-cards-container {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }
    .s-card {
        flex-basis: 48%;
        flex-grow: 1;
    }
}

@media screen and (min-width: 768px) {
    .phill .container {
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
    .s-card {
        flex-basis: 30%;
    }
}